.App {
    margin: 0 auto;
    flex-direction: column;
    max-width: 480px;
    width: 90vw;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

h1 {
    color: rgb(66,66,66);
    margin: 2vh 0 4vh 0;
    font-size: 2.5rem;
}

.app-board-viewport {
    position: relative;
}

/* nice trick https://codepen.io/ItScofield/pen/PNVZoQ */
.app-board-viewport::before {
    content: '';
    display: block;
    padding-top: 100%;
}

@keyframes end-game-screen-fade-in {
    0% {
        transform: translateY(-100%) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 300%;
        opacity: 1;
    }
}

.end-game-screen {
    animation: end-game-screen-fade-in .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
    animation-delay: .4s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end-game-screen-figures {
    flex: 0.2;
    display: flex;
}

.end-game-screen-message {
    text-align: center;
    color: rgb(66,66,66);
    font-weight: 700;
    font-size: 2rem;
}

.board {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@keyframes board-fade-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes board-fade-in {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

.board-show {
    animation: board-fade-in .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: forwards;
}

.board-hide {
    animation: board-fade-out .3s ease-out;
    animation-fill-mode: forwards;
}

.board-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.board-cell {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.board-row .board-cell:first-child {
    border-left: none;
}

.board-row .board-cell:last-child {
    border-right: none;
}

.board .board-row:last-child {
    border-bottom: none;
}

.board-row .board-cell {
    border-right: 5px solid #616161;
}

.board-row {
    border-bottom: 5px solid #616161;
}

.board-cell .board-cell-content {
    flex: 0.85;
}

.figure {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.figure svg {
    display: inline-block;
    height: 100%;
    width: 100%;
}

@keyframes figure-appear {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

.figure-appear {
    animation: figure-appear .3s cubic-bezier(.5,1.8,.1,1.1);
}